

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <!--Bootstrap-->
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
    <nav>
        navbar
    </nav>


    <main>
        @RenderBody()
    </main>

    <footer>
        footer
    </footer>

    <!--Javascript-->
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <!--Jquery-->
    <script src="~/lib/jquery/jquery.js"></script>
</body>
</html>
